/* geek's factory reader */
body
{
	background: #ffffff;
	color: #000000;
	font-size: 12px;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	padding-top: 35px;
}
.clear
{
	clear: both;
}
a img, a:hover img, a:visited img
{
	text-decoration: none;
	border: none;
}
#logo
{
	margin: 10px 20px;
}

#navi ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 13px;
	margin: 0 20px 10px 20px;
	font-weight: bold;
}
a, 
a:link,
a:active, 
a:visited
{
	text-decoration: none;
	color: #0066FF;
}
a:hover
{
	color: #40B3FF;
}
.titlelink
{
	font-size: 16px;
	font-weight: bold;
	display:block;
}
.sum
{
	padding: 0;
	margin: 5px 0 10px 20px;
}
.sum p
{
	padding: 0;
	margin: 0 0 10px 0;
}
.unreadarticle
{
	background: #E5E5FF;
	padding: 5px;
}
.readarticle
{
	padding: 5px;
}
.sticky {
	background: #DAFFD7;
	padding: 5px;
}
.loadmore {
	display: block;
	text-align: center;
	padding: 10px 5px 10px 5px;
	background: #E5E5FF;
	border-top: 1px solid #40B3FF;
	border-bottom: 1px solid #40B3FF;
	font-weight: bold;
}
#topbar {
	display: block;
	background: #E5E5FF;
	border-top: 1px solid #40B3FF;
	border-bottom: 1px solid #40B3FF;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
}
.select ul li {
	margin-left: 7px;
}
.select ul li a {
	display: block;
	font-size: 14px;
	padding: 3px 0 3px 0;
}
.select {
	display: inline-block;
	position: relative;
	top: -10px;
	left: 0;
}
.feedselect {
	position: absolute;
	left: 50px;
	top: 4px;
}
.select span {
	color: #000 !important;
}
.select strong {
	display: inline-block;
	padding: 2px;
	background: url('images/bullet_arrow_down.png') no-repeat right;
	font-size: 15px;
	padding: 3px;
	cursor: pointer;
	padding-right: 20px;
}
.select ul {
	display: none;
	position: absolute;
	border: 1px solid #40B3FF;
	background: #fff no-repeat right;
	top: 15px;
	left: 0;
	z-index: 1000;
	width: 206px;
	list-style-type: none;
	padding: 5px 0 5px 0;
}

#subnav {
	margin: 0;
	padding: 5px;
	text-align: center;
}
#logout {
	z-index: 10000;
	position: absolute;
	top: 6px;
	right: 5px;
}

.wrongpw {
	padding: 10px;
	background: #FFAEAE;
}
.okay {
	padding: 10px;
	background: #B3FFAE;
}
.info {
	padding: 10px;
	background: #FFFFCA;
	margin: 10px auto 10px auto;
}
