/* geek's factory reader */

html
{
	height: 100%;
	width: 100%;
}
body
{
	background: #ffffff;
	color: #000000;
	font-size: 12px;
	font-family: Arial, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.clear
{
	clear: both;	
}
#left-col
{
	background: #fff;
	height: 100%;
	border-color:#DFDFDF;
	border-width:0px 20px 0px 20px;
	border-style:solid;
	position:absolute;
	left:0px;
	width:240px;
	top:0;
	overflow-y: auto;
}
#right-col
{
	margin-right: 20px;
	padding-right: 10px;
	background: #fff;
	height: 100%;
	overflow: auto;
}
#right-gap
{
	margin:0px;
	background: #DFDFDF;
	height: 100%;
	position: absolute;
	right:0px;
	overflow:auto;
	top:0;
	width:20px;
}
a img, a:hover img, a:visited img
{
	text-decoration: none;
	border: none;
}
#logo
{
	margin: 10px auto 10px 20px;
	width: 200px;
	height: 50px;
}

#navi ul
{
		margin: 0;
		padding: 0;
		list-style-type: none;
		font-size: 13px;
		margin: 0 0px 10px 0px;
}
#navi ul li a {
		display: block;
		padding: 2px 20px 2px 20px;
		margin: 2px 0 2px 0;
}
#navi ul li a span.unread {
		color: #000000;
		font-weight: bold;
}
#navi ul li a:hover {
		background: #eee;
		color: #0066FF;
}
#navi .text {
		display: block;
		padding-left: 20px;
}
#navi ul li img.favicon {
		float: left;
		margin-top: 0px;
		margin-right: 5px;
		width: 16px;
	height: 16px;
}
.feednavi_hr {
		border-bottom: 1px solid #0066FF;
		margin-top: 4px;
		margin-bottom: 4px;
}
.collapse, .uncollapse {
	text-align: center;
	font-size: 11px;
}
a, 
a:link, 
a:active, 
a:visited
{
	text-decoration: none;
	color: #0066FF;
}
a:hover
{
	color: #40B3FF;
}
#wrap
{
	margin: 10px 10px 10px 300px;
}
.titlelink
{
	font-size: 16px;
	font-weight: bold;
}
.sum
{
	padding: 0;
	margin: 5px 0 10px 20px;
}
.sum p
{
	padding: 0;
	margin: 0 0 10px 0;
}
.unreadarticle
{
	background: #E5E5FF;
	padding: 5px;
}
.readarticle
{
	padding: 5px;
}
.sticky {
	background: #E5FFE5;
	padding: 5px;
}
.error {
	padding: 10px;
	background: #FFAEAE;
	margin: 10px auto 10px auto;
}
.okay {
	padding: 10px;
	background: #B3FFAE;
	margin: 10px auto 10px auto;
}
.info {
	padding: 10px;
	background: #FFFFCA;
	margin: 10px auto 10px auto;
}
.erroricon {
	opacity: 0.5;
}
.erroricon:hover {
	opacity: 1;
}
a.feedlink {
	color: #000;
}
.reload {
	text-align: center;
	font-size: 16px;
}
#navi p {
	padding: 10px;
}
#navi ul li#infoline, p.about {
	text-align: center;
	font-size: 10px;
}
#navi ul li#infoline a, p.about {
	display: inline;
	padding: 0;
	margin: 0;
}
.dashboardbox {
	display: block;
	background: #E5E5FF;
	text-align: center;
	font-size: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 10px auto 10px auto;
}
.dashboardbox.left {
	float: left;
	width: 47%;
}
.dashboardbox.stickybox {
	background: #E5FFE5;
}
.dashboardbox.right {
	float: right;
	width: 47%;
	position: relative;
	top: -2px;
}
.dashboardbox.addfeed {
	color: #0066FF;
	cursor: pointer;
}
.dashboardbox.addfeed:hover {
	color: #40B3FF;
}
.dashboardbox.addfeed input {
	font-size: 22px;
	position: relative;
	margin: 0;
	top: -4px;
	width: 75%;
}

.settingspage h3 {
	background: #E5E5FF;
	margin: 15px 0 5px 0;
	padding: 5px;
}
td.top {
	padding-top: 7px;
	vertical-align: top;
}
.abos {
	border: 0;
	border-collapse: collapse;
}
.abos tr:nth-child(even) {
	background: #EEEEFF;
}
.abos tr td:nth-child(2) {
	min-width: 100px;
}
.abos th {
	vertical-align: bottom;
}
.abos .update_column {
	width: 100px;
	text-align: center;
}
.abos td {
	height: 30px;
	padding: 0 5px;
}
input[type=text], input[type=password], select {
	border: 1px solid #DDD;
	padding: 4px;
	width: 200px;
	background: #fff;
	border-radius: 5px;
}
input[type=text]:hover, input[type=password]:hover, select:hover {
	border: 1px solid #888;
	outline: none;
}
input[type=text]:focus, input[type=password]:focus, select:focus,
select:active {
	border: 1px solid #888;
	box-shadow: 0 0 6px 1px #888;
	outline: none;
}
select {
	padding: 3px;
}
#addsub input[type=text] {
	width: 300px;
}
input[type=submit], input[type=button] {
	border: 1px solid #CCC;
	padding: 4px 8px;
	background: #fff;
	border-radius: 5px;
}
input[type=submit]:hover, input[type=button]:hover {
	border: 1px solid #888;
}
input[type=submit]:active, input[type=button]:active,
input[type=submit]:focus, input[type=button]:focus {
	border: 1px solid #888;
	box-shadow: 0 0 6px 1px #888;
	outline: none;
}
.imagebtn {
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	top: 3px;
}
.abos input[type=text], .abos input[type=password] {
	width: 130px;
}
.biggerbtn {
	padding: 5px 15px;
	border: 1px solid #DDD;
	background: white;
	width: 300px;
	text-align: center;
}
.biggerbtn:hover {
	border: 1px solid #888;
}
.updated {
	background: #FFD4E5;
	color: #000;
	display: inline-block;
	line-height: 19px;
	padding: 1px 10px;
	margin-left: 7px;
}
